/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 20, 2015, 3:01:14 PM
    Author     : Antonio
*/
body {  
    background-image: url(../img/blurred_vision.jpg) ;
    background-position: center center;
    background-size: cover;
    box-sizing: content-box;
    overflow: auto;
}


header{    background-image: url(../img/backgrounds/concrete_seamless.png);}

header .h1{   
    text-shadow: 2px 2px 5px #404040;
    color: white;
    font-size: 4em;
    font-family: monospace;
}

.negro{
    background: #0A0000;
    color: #f8f8f8;
    padding: 5px;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
@media (max-width:768px)
{
    .negro{ margin-top: 10%;}
    #Registro, #ConsultarRegistros{
        margin-bottom: 10%;
    }
  

}
@media (max-width:480px)
{
    .negro{ margin-top: 15%;}
    #Registro, #ConsultarRegistros{
        margin-bottom: 15%;
    }
  

}

#containerInfo{
    margin: auto;
    text-align: center;

}

#inicio{
    margin-top: 3%;
}

#Registro{
    // background: url(../img/bg-white.jpg) ;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.89);
    border-width: 7px;
    border-style: solid;
    border-color: rgb(64, 64, 64);
    line-height: 20px;
    padding: 10px;
    -webkit-border-image: -webkit-linear-gradient(top, #CBA75D 0%, #457366 100%);
    border-image-slice: 1;  -webkit-border-image: -webkit-linear-gradient(top, #CBA75D 0%, #457366 100%);
    border-image-slice: 1;

}

#ConsultarRegistros{
    // background: url(../img/bg-white.jpg) ;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.92);
    border-width: 7px;
    border-style: solid;
    border-color: rgb(64, 64, 64);
    line-height: 20px;
    padding: 10px;
    -webkit-border-image: -webkit-linear-gradient(top, #3A323F 0%, #286090 100%);
    border-image-slice: 1;  -webkit-border-image: -webkit-linear-gradient(top, #286090 0%,  #CBA75D 100%);
    border-image-slice: 1;
}


#tableReg thead{

    cursor: pointer;
    background: rgba(0, 0, 0, .2);
}


#Registro .pull-left{
    padding: 0px;
}

.centrar{
    text-align: center;
    margin: auto;
}



#Registro h2{
    font-family: "century gothic";
    font-weight: bold;
    font-size: 1.5em;
}


#Registro input, select {
    text-align: center;

}


.blanco{
    background-color: white;
}


.central{

    margin: 5px;
    padding: 10px;
    padding-bottom: 15px;
    min-height:500px;
    border-image-slice: 1;  -webkit-border-image: -webkit-linear-gradient(top, #C9FAFF 0%, #A1FFF5 100%);
    border-image-slice: 1; 

}


.numero{
    background-color: #FC0D1B;
    border-radius: 50%;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:white;
    width: 24px;
    height: 21px;
}

.help-block{
    display: 
        none;
    font-weight: bold;
}


#overlay {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    padding-top: 100px;
}

.desaparecer{display:  none;}

.desaparecer button{
    margin-top:   10px;
}

.checkfinal img{
    width: 250px;
    display: inline-block;
}
.checkfinal{
    margin-left: auto;
    margin-right: auto;
}



.hr-divider{
    max-width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}



#inicio h3{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

#inicio{
    color: white;
}

#Registro, #ConsultarRegistros{
    display: none;
}